#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column; /* Stack the map and search bar vertically */

}

.map-side {
  flex: 2;
  padding: 0 20px;
}

.search-side {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.card-popup {
  position: absolute;
  top: 10px;
  right: 10px;
}

.result-card {
  margin-top: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chat-container {
  padding: 20px;
  background-color: #f4f4f4;
  width: 200vh;
  /* Optionally, set the position to fixed if you want it always visible */
  /* position: fixed; */
  /* bottom: 20px; */
  /* left: 20px; */
}
